
.login-card{
    max-width: 400px;
    margin: auto;
    transform: translate(0%, 50%);
  }
  .mat-card-title{
    padding-top: 5%;
  }
  .mat-form-field{
    width: 100%;
  }
  .mat-card-header{
    justify-content: center;
  }
  .mat-card-title{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top:10px;
  }
  .mat-card-content{
    margin-top: 3%;
  }