<div class="container">
    <div class="record-header">
        <mat-card>
            <mat-card-title-group>
                <mat-icon>local_activity</mat-icon>
                <mat-card-subtitle>Total No. of Ticket</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <span class="ticket-counter">{{this.ticketData.length}}</span>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title-group>
                <mat-icon>drafts</mat-icon>
                <mat-card-subtitle>Open Tickets</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <span class="ticket-counter">{{this.countOpenTicket(this.ticketData)}}</span>
            </mat-card-content>
        </mat-card>

        <mat-card>
        <mat-card-title-group>
            <mat-icon>disabled_by_default</mat-icon>
            <mat-card-subtitle>Tickets closed in 4hrs</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <span class="ticket-counter">{{this.ticketClose4hour(this.ticketData)}}</span>
        </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title-group>
                <mat-icon>timer_off</mat-icon>
                <mat-card-subtitle>Ticket crossed 4hrs</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <span class="ticket-counter">{{this.ticketCrossed4hour(this.ticketData)}}</span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content">

    </div>
</div>
