
.container{
   width: 50%;
   margin: 8% auto 0% auto;
}
.mat-toolbar{
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: gainsboro;;
}
.mat-card-content{
    width: 90%;
    margin: auto;
    height: 250px;
}
.span_text{
    font-weight: 500;
}
.left{
    width: 50%;
  float: left;
}
.right{
    width: 50%;
    float: left;
    text-align: center;
}
.mat-card-actions{
    display: flex;
    justify-content: space-between;
}