.container{
    width: 98%;
    margin: auto;
}
table {
    width: 100%;
    overflow-x: auto;
  }

h1{
    text-align: center;
    padding-top:30px;
    padding-bottom: 20px;
    font-weight: 600;
    line-height: 1rem;
}
.mat-header-cell{
    background-color: rgb(4, 2, 43);
    font-size: 1rem;
    font-weight: 500;
    color:whitesmoke;

  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  mat-form-field{
    width: 80%;
    margin-right: 10%;
    margin-left: 5%;
  }
 
