mat-dialog-content{
    height: 60vh;
}
.close-btn{
    display: flex;
   justify-content: flex-end;
   margin-bottom: -20px;
}
.mat-title{
    display: flex;
    justify-content: center;
    font-weight: 700;
}
mat-dialog-actions{
    justify-content: space-between;
}
.mat-form{
    width: 100%;
}
.mat-form-name{
    display: flex;
    width: 100%;
    justify-content: space-between;
}