<app-header></app-header>
<div class="container">
  <mat-card>
    <mat-card-title>Add Ticket</mat-card-title>
    <form [formGroup]="ticketForm" (ngSubmit)="OnFormSubmit(ticketForm.value)">
      <p>
        <mat-form-field class="example-full-width-2" appearance="fill">
          <mat-label>Id</mat-label>
          <input matInput placeholder="Ticket ID" formControlName="ticketid" />
          <mat-error>
            <span *ngIf="!ticketForm.get('ticketid').valid && ticketForm.get('ticketid').touched">Please Enter Name</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width-2" appearance="fill">
          <mat-label>Department</mat-label>
          <mat-select (change)="onSelect($event)" formControlName="department">
            <mat-option disabled>Select</mat-option>
            <mat-option *ngFor="let department of departments" value= {{department.id}}>{{department.name}}</mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!ticketForm.get('department').valid && ticketForm.get('department').touched">*Select Department</span>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="example-full-width-2" appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select (change)="onSelectSub($event)" formControlName="category">
            <mat-option disabled>Select</mat-option>
            <mat-option *ngFor="let category of category" value= {{category.id}}>{{category.name}}</mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!ticketForm.get('category').valid && ticketForm.get('category').touched">*Select Category</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width-2" appearance="fill">
          <mat-label>subCategory</mat-label>
          <mat-select (change)="onSelectSub($event)" formControlName="subCategory">
            <mat-option disabled>Select</mat-option>
            <mat-option *ngFor="let subcategory of subcategory " value= {{subcategory.id}}>{{subcategory.name}}</mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!ticketForm.get('subCategory').valid && ticketForm.get('subCategory').touched">*Select Subcategory</span>
          </mat-error>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field class="example-full-width-2" appearance="fill">
          <mat-label>LIS Customer</mat-label>
          <input
            matInput
            placeholder="LIS Customer"
            formControlName="customer"
          />
          <mat-error>
            <span *ngIf="!ticketForm.get('customer').valid && ticketForm.get('customer').touched">*Enter LIS Customer</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width-2" appearance="fill">
          <mat-label>Reporting Time</mat-label>
          <input
            matInput
            type="datetime-local"
            placeholder="Reporting time"
            formControlName="issueTime"
          />
          <mat-error>
            <span *ngIf="!ticketForm.get('issueTime').valid && ticketForm.get('issueTime').touched">*Select Date & Time</span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width-1" appearance="fill">
          <mat-label>Issue/Subject</mat-label>
          <input
            matInput
            placeholder="issue/Subject"
            formControlName="subject"
          />
          <mat-error>
            <span *ngIf="!ticketForm.get('subject').valid && ticketForm.get('subject').touched">Please Enter Subject</span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width-1" appearance="fill">
          <mat-label>Issue Description</mat-label>
          <input
            matInput
            placeholder="issue Description"
            formControlName="issueDescription"
          />
          <mat-error>
            <span *ngIf="!ticketForm.get('issueDescription').valid && ticketForm.get('issueDescription').touched">Please Enter Issue Description</span>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="example-full-width-1" appearance="fill">
          <mat-label>Email ID</mat-label>
          <input matInput placeholder="Email Id" formControlName="emailId" />
          <mat-error>
            <span *ngIf="!ticketForm.get('emailId').valid && ticketForm.get('emailId').touched">Please Enter Email</span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width-1" appearance="fill">
          <mat-label>Escallation Email</mat-label>
          <input
            matInput
            placeholder="Escallation Email"
            formControlName="escEmail"
          />
          <mat-error>
            <span *ngIf="!ticketForm.get('escEmail').valid && ticketForm.get('escEmail').touched">Please Enter Name</span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width-1" appearance="fill">
          <mat-label>Team Link</mat-label>
          <input matInput placeholder="Team Link" formControlName="teamLink" />
          <mat-error>
            <!-- <span *ngIf="!ticketForm.get('name').valid && ticketForm.get('name').touched">Please Enter Name</span> -->
          </mat-error>
        </mat-form-field>
      </p>
      <button mat-button routerLink="/landingpage">Back</button>
      <button mat-flat-button color="primary" type="submit">
        <mat-icon>save</mat-icon>
      </button>
    </form>
  </mat-card>
</div>
<router-outlet></router-outlet>
