<mat-card class="outer-box">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>account_circle</mat-icon>
      Login
    </mat-card-title>
  </mat-card-header>
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <mat-card-content>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="user name" name="email" ngModel>
          <!-- <mat-icon matPrefix>account_circle</mat-icon> -->
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>

      &nbsp; <a routerLink="signup">Sign up</a>
    </mat-card-actions>
  </form>
</mat-card>

