<label>Department:</label> 
<select (change)="onSelect($event)">
  <option value="0">--Select--</option>
  <option *ngFor="let department of departments" value= {{department.id}}>{{department.name}}</option>
</select>

<br/><br/>

<div>
<label>Category:</label>
<select (change)="onSelectSub($event)">
  <option value="0">--Select--</option>
  <option *ngFor="let category of category " value= {{category.id}}>{{category.name}}</option>
</select>

<label>SubCategory:</label>
<select>
  <option value="0">--Select--</option>
  <option *ngFor="let subcategory of subcategory " value= {{subcategory.id}}>{{subcategory.name}}</option>
</select>
</div>
