<div class="container">
    <div class="close-btn">
        <button mat-icon-button color="primary" (click)="matClose()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="mat-title">
        <h2 mat-dialog-title><mat-icon>person_add</mat-icon> Update User</h2>
    </div>
    <mat-dialog-content>
        <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
            <p class="mat-form-name">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First Name" formControlName="firstName">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastName">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
              </p>
              <p>
                <mat-form-field class="mat-form" appearance="outline" >
                  <mat-label>Email Id</mat-label>
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="mat-form" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="password" formControlName="password">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="mat-form" appearance="outline" >
                  <mat-label>Confirm Password</mat-label>
                  <input matInput placeholder="confirm password" formControlName="password">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>
                <mat-dialog-actions >
                    <button class="mat-form" mat-flat-button color="primary" type="submit">
                        Register
                    </button>
                </mat-dialog-actions>
        </form>
    </mat-dialog-content>
</div>