<app-menu></app-menu>
<div class="container">
  <div class="search-hero">
    <input mat-input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; search book here by title,author">
  </div>
  <div class="mat-elevation-z8">
      <h2>Books List</h2>
      <table mat-table [dataSource]="data |filter:searchText" color="warn">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Book ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
  
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef>Author</th>
          <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>
  
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
    
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" >
            <mat-icon class="mat-18"  (click)="viewBook(element.id)" color="primary">
              <span class="material-icons-outlined">
                visibility
                </span>
            </mat-icon>
            <mat-icon class="mat-18" style="margin-left:15%" (click)="deleteBook(element.id)" color="accent">
              <span class="material-symbols-outlined" matTooltip="dalete">
              delete
              </span>
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[2, 4, 6]"
                      [length]="data.length"
                      [pageSize]="2"
                     showFirstLastButtons>
      </mat-paginator>
      <div class="add_btn">
        <button mat-fab color="accent" routerLink="/addbook">
          <mat-icon>add</mat-icon>
        </button>
      </div>
     
    </div>
</div>
  